.be_converttheme_setup .left {
    width: 60%;
    float: left;
}

.be_converttheme_setup .right {
    width: 40%;
    float: right;
}

.be_converttheme_setup .right .inner {
    padding: 30px 0 30px 15px;
}

.be_converttheme_setup .left .inner {
    padding: 30px 15px 30px 0;
}

.be_converttheme_setup h2 {
    margin-bottom: 15px;
}

.be_converttheme_setup img.logo {
    width: 200px;
    height: auto;
    margin-bottom: 15px;
}

.be_converttheme_setup .link-list a {
    padding: 5px 0;
    display: inline-block;
}

.be_converttheme_setup a {
    color: #F37920;
}

.be_converttheme_setup a:hover {
    color: #ffb700;
}

.be_converttheme_setup .button a {
    background: #F37920;
    color: #fff;
    padding: 15px;
    display: inline-block;
    margin: 5px 0 15px;
}

.be_converttheme_setup .button a:hover {
    background: #000 ;
}

html[data-color-scheme=dark] img.logo {
    filter: invert(1);
}
