@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../../../../../bundles/contaothemesnetconverttheme/fonts/roboto/roboto-thin-webfont.woff"),
  url("../../../../../bundles/contaothemesnetconverttheme/fonts/roboto/roboto-thin-webfont.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../../../../../bundles/contaothemesnetconverttheme/fonts/roboto/roboto-light-webfont.woff"),
  url("../../../../../bundles/contaothemesnetconverttheme/fonts/roboto/roboto-light-webfont.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../../../../bundles/contaothemesnetconverttheme/fonts/roboto/roboto-regular-webfont.woff"),
  url("../../../../../bundles/contaothemesnetconverttheme/fonts/roboto/roboto-regular-webfont.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../../../../bundles/contaothemesnetconverttheme/fonts/roboto/roboto-medium-webfont.woff"),
  url("../../../../../bundles/contaothemesnetconverttheme/fonts/roboto/roboto-medium-webfont.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../../../../bundles/contaothemesnetconverttheme/fonts/roboto/roboto-bold-webfont.woff"),
  url("../../../../../bundles/contaothemesnetconverttheme/fonts/roboto/roboto-bold-webfont.ttf");
}
