$dark-color: #303742;
$light-color: #fff;
$body-bg: #212121;
$body-font-color: #e0e0e0;
$boxes-background: #272727;
$boxes-color: #fff;
$bg-color: #353535;
$bg-color-light: #272727;
$border-color-dark: #272727;