$primary-color: #50E953;
$link-color: #3A9DDE;
$link-color-dark: darken($link-color, 10%);
$button-background: transparent linear-gradient(90deg, #3A9DDE 0%, $primary-color 100%) 0% 0% no-repeat padding-box;
$button-background-hover: transparent linear-gradient(90deg, darken(#3A9DDE, 10%) 0%, darken($primary-color, 10%) 100%) 0% 0% no-repeat padding-box;